/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main {
    padding: 50px;
  }
  .card {
    width: 300px;
    height: 400px;
    border: 3px solid rgb(190, 0, 0);
    border-radius: 25px;
    background-image: url(assets/Meteora.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    /* overflow:hidden tutto quello che sarà oltre i confini della card sarà nascosto */
    overflow: hidden;
  }
.card:hover .save {
  top: 10px;
}
.card:hover .bottom {
  bottom: 5px;
}
  .save {
    position: absolute;
    right: 20px;
    top: -40px;
    background-color: red;
    color: #fff;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    transition: top 0.2s ease-in-out;
  }
 .bottom {
    /* position: absolute; */
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 25px;
    opacity: 0.8;
    cursor: pointer;
    bottom: -30px;
    transition: bottom 0.2s ease-in-out;
  }
  .bottom:hover {
    opacity: 1;
  }
  .img {
    height: 16px;
    display: inline-block;
    width: max-content;
    margin-right: 7px;
  }
  .label {
    left: 10px;
    padding: 10px 15px;
    width: max-content;
  }
  .share {
    left: 160px;
    padding: 10px 15px;
  }
  .more {
    left: 240px;
    padding: 10px 15px;
  }